<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Codi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Codi.Properties.Settings>
            <setting name="LastSQLTest" serializeAs="String">
                <value>Never</value>
            </setting>
            <setting name="SQLUser" serializeAs="String">
                <value>CodiUser</value>
            </setting>
            <setting name="SQLPWD" serializeAs="String">
                <value>CodiPassword</value>
            </setting>
            <setting name="SQLDB" serializeAs="String">
                <value>Desktop\Codi</value>
            </setting>
        </Codi.Properties.Settings>
    </userSettings>
</configuration>